// COMMON STYLES

html,body{
    min-width: 320px;
    // background-color: $mainbg;
}

body{
    font-family: $opensans;
    font-weight: $normal;
    font-size: 16px;
    line-height: 1.5em;
    color: black;
}

header{
    height: auto;
    background: white;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}

.container{
    max-width:320px;
}

.main{
    img{
        max-width: 100%;
    }
    iframe{
        width: 100%;
        height: 300px;
    }
}

b, strong{
    font-weight: $bolder;
}

a{
    color: #333;
    border-bottom: 1px solid #ccc;
}

a:hover{
    color: #666;
    text-decoration: none;
}

a.contactlink{
    text-decoration: none;
    border-bottom: none;
}

blockquote{
    font-family: $blockquotes;
    font-size: 30px;
    line-height: 45px;
    // color: #444;
    // font-style: italic;
    border-left: none;
    // background-color: #fafafa; 
    padding: 20px 0 25px;
    font-weight: $bolder;
    margin: 0;
}

.spiralbg{
    color: white;
    background-color: $maincolor;
    background-image: url(../img/spiral.png);
    padding: 60px 0;
}

.center{
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: $headings;
}

h1{
    // font-size: 32px;
    font-size: 24px;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
    margin-bottom: 5px;
}

.main,.highlighted{
    padding: 45px 0;
}

.highlighted h2{
    background-color: #ccc;
    color: white;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 18px;
}

span.label-default{
    background-color: $maincolor;
    &:hover{
        background-color: $mainhover;
    }
}

.banner{
    margin: 30px 0;
    img{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
    /*
    background-color: #eee;
    text-align: center;
    .fa{
        color: #ddd;
        margin-top: 150px;
    }
    */
    .container{
        max-width: 300px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .row{
        margin-left: -5px;
        margin-right: -5px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-left: 5px;
        padding-right: 5px;
    }
}

footer{
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.1);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.1);
    background-color: $mainbg;
    background-image: url(../img/spiral-white.png);
    color: #333;
    padding: 30px 0;
    ul{
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    }
    ul > li{
        float: none;
        width: 100%;
        padding: 0;
        a{
            color: #aaa;
        }
    }
    ul > li:first-child{
        margin-top: 10px;
        font-weight: $bold;
        line-height: 30px;
        a{
            color: $maincolor;
        }
    }
    .paymethods{
        text-align: center;
        img{
            max-width: 200px;
            margin: 15px 0;    
        }
    }
}

.eudomus{
    font-family: $blockquotes;
    font-weight: $light;
    color: #ccc;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    img{
        width: 30px; 
        opacity: 0.75;
    }
    a{
        color: #ccc;
        text-decoration: none;
        border: none;
    }
}

footer .eudomus{
    margin-top: 25px;
    margin-bottom: 0;
}