header .eudomus{
    text-align: left;
    margin-bottom: 10px;
}

.menu-header-menu-container{
    float: right;
}

.banner .container{
    max-width: 950px;
}

.head-menu{
    height: 32px;
}

header .menu li{
    width: auto;
    padding: 3px 20px 0 0;
    a{
        padding: 0;
        border: none;
        &:hover{
            border: none;
            background-color: transparent;
            color: #dadbdc;
        }
    } 
}

header.pageheader{
    .titbox{
        margin-top: 180px;
        text-align: left;
    }
    .front{
        margin-top: 100px;
    }
}