.container{
    max-width:none;
}

/*
.woocommerce-checkout{
    padding: 0 30px 30px;
    background-color: white;
}
*/

.main .images, .main .entry-summary{
    width: 50%;
    float: left;
}

.main .entry-summary{
    padding-left: 15px;
}

.main .images{
    padding-right: 15px;
}

.wc-tabs{
    display:block;
}

.products li, .products li.product, ul.products li, .woocommerce ul.products li.product{
    width: 30% !important;
    margin-right: 3% !important;
    margin-bottom: 0;
}

.highlighted .woocommerce ul.products li.product{
    width: 23% !important;
    margin-right: 2.6% !important;
}

.highlighted .woocommerce ul.products li.product:last-of-type{
    margin-right: 0 !important;
}
.woocommerce-ordering select.orderby{
    width: 63%;
}

.woocommerce .addresses .address{
    float: left;
    width: 50%;
}

footer ul > li{
    text-align: left;
}

header .menu li{
    width: auto;
    padding: 3px 20px 0 0;
    a{
        padding: 0;
        border: none;
        &:hover{
            background-color: transparent;
        }
    } 
}

.head-menu{
    .cart-container{
        width: 135px;
        height: 32px;
        width: auto;
        a{
            float: right;
            font-size: 0.8em;
            padding: 3px 9px; 
            // display: inline-block;
            width: auto;
            @include border-radius(3px);
        }
    }
}

footer .menu li{
    padding-right: 20px;
}

.coupon input[type="text"]{
    width: 150px !important;
}

.woocommerce .cart .button, .woocommerce .cart input.button{
    width: auto !important;
}