header .eudomus{
    text-align: left;
    margin-bottom: 10px;
}

.menu-header-menu-container{
    float: right;
}

.banner .container{
    max-width: 950px;
}

.products li, .products li.product, ul.products li, .woocommerce ul.products li.product{
    img{
        width: 165px;
        height: 165px !important;
    }
}

.highlighted .woocommerce ul.products li.product a img{
    width: 184px;
    height: 184px;
}