.container{
    max-width:none;
}

/*
.woocommerce-checkout{
    padding: 0 30px 30px;
    background-color: white;
}
*/

.main .images, .main .entry-summary{
    width: 50%;
    float: left;
}

.main .entry-summary{
    padding-left: 15px;
}

.main .images{
    padding-right: 15px;
}

.wc-tabs{
    display:block;
}

.products li, .products li.product, ul.products li, .woocommerce ul.products li.product{
    width: 30%;
    margin-right: 3%;
    margin-bottom: 0;
}

.highlighted .woocommerce ul.products li.product{
    width: 23%;
    margin-right: 2.6%
}

.highlighted .woocommerce ul.products li.product:last-of-type{
    margin-right: 0;
}
.woocommerce-ordering select.orderby{
    width: 63%;
}

.woocommerce .addresses .address{
    float: left;
    width: 50%;
}

footer ul > li{
    text-align: left;
}

header .menu li{
    width: auto;
    padding: 3px 20px 0 0;
    a{
        padding: 0;
        border: none;
        &:hover{
            background-color: transparent;
        }
    } 
}

footer .menu li{
    padding-right: 20px;
}