.container{
    max-width:none;
}

/*
.woocommerce-checkout{
    padding: 0 30px 30px;
    background-color: white;
}
*/

.main .images, .main .entry-summary{
    width: 50%;
    float: left;
}

.main .entry-summary{
    padding-left: 15px;
}

.main .images{
    padding-right: 15px;
}

.wc-tabs{
    display:block;
}

.related ul.products li{
    width: 30%;
    margin-right: 3%;
    margin-bottom: 0;
}