// Fonts
/*
@font-face {
font-family: "Helvetica Neue";
src: url("../fonts/HelveticaNeue_Lt.ttf") format("truetype");
}
@font-face {
font-family: "Din Condensed";
src: url("../fonts/DinCondensed_Md.ttf") format("truetype");
}
@font-face {
font-family: "Open Sans Condensed";
src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
}
@font-face {
font-family: "Parker";
src: url("../fonts/Parker.ttf") format("truetype");
}
*/

// Font Family
$opensans:                      'Open Sans', Helvetica, Arial, sans-serif;
$headings:                      'Patua One', Georgia, Arial, sans-serif;
// $blockquotes:                   'Crimson Text', Cambria, Georgia, 'Times New Roman', Times, serif;
// $blockquotes:                   'Parker', Helvetica, Arial, sans-serif;
$blockquotes:                   'Lato', Helvetica, Arial, sans-serif;
// $helvetica:                     'Helvetica Neue', Helvetica, Arial, sans-serif;
// $oscondensed:                   'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $dincondensed:                  'Din Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weight
$light:                         100;
$normal:                        300;
$bold:                          600;
$bolder:                        900;

// Colors
$mainbg:                        #fcfcfc;
$maincolor:                     #99aa77;
$mainhover:                     #99aa55;