.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2{
    float: none;
    width: 100%;
}

/*
.woocommerce-checkout{
    padding: 0 15px 15px;
    background-color: white;
}
*/

.woocommerce-shipping-fields{
    margin-top: 45px;
}

.col2-set{
    margin-bottom: 45px;
}

input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="select"],textarea{
    padding: 10px;
    border: 1px solid #ccc;
    @include border-radius(3px);
}

.head-menu{
    text-align: right;
    padding-top: 30px;
    span.label{
        float: right;
        font-size: 0.9em;
        font-weight: normal;
        padding: 6px 9px;
    }
}

.menu-header-menu-container{
    float: right;
}

.menu{
    padding: 0;
    li{
        list-style: none;
        float: left;
        padding-right: 20px;
        a{
            border-bottom: none;
        }
    }
}

.woocommerce ul.products li.featured{
    padding: 15px;
    border: 1px solid #ccc;
    @include border-radius(3px);
    a.button{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

.pp_woocommerce a{
    border-bottom: none;
}

nav.woocommerce-breadcrumb{
    margin-bottom: 45px;
}

.main .images, .main .entry-summary{
    width: 50%;
    float: left;
}

.main .images{
    padding-right: 15px;
}

.main .entry-summary{
    padding-left: 15px;
    
    span.amount{
        font-size: 18px;
        background-color: $maincolor;
        color: white;
        padding: 6px 9px;
        @include border-radius(3px);
    }
    p.price{    
        margin-bottom: 20px;
    }
    
    form.cart{
        margin-top: 20px;
        overflow: hidden;
    }
    
    input.qty{
        float: left;
        width: 30%;
        padding: 5px 10px;
    }
    
    button{
        float: left;
        margin-left: 10px;
        border-radius: 3px;
        border: 1px solid $maincolor;
        color: $maincolor;
        padding: 5px 10px;
        background: transparent;
    }
    
    button:hover{
        color: white;    
        background: $maincolor;
    }
    
    .product_meta{
        clear: both;
        margin-top: 20px;
        span.sku_wrapper{
            display: none;
        }
        span.posted_in, span.tagged_as{
            display: inherit;
        }
    }
}

h1.product_title{
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.main .images img{
    max-width: 100% !important;
    height: auto !important;
}

.main .images .thumbnails{
    margin-top: 5px;
}

.attachment-shop_thumbnail{
    margin-right: 5px;
}

.main #sidebar{
    margin-top: 65px;
    // border: 5px solid #eee;
    background-color: $mainbg;
    @include border-radius(10px);
    
    ul{
        padding: 20px;
    }
    
    ul.product-categories{
        margin-bottom: 15px;
    }
    
    ul.product_list_widget{
        padding: 20px 0 0;
        li{
            list-style: none;
            margin-bottom: 15px;
            overflow: hidden;
        }
        img{
            width: 60px;
            height: 60px;
            float: left;
            margin-right: 10px;
        }
        a{
            border-bottom: none;
        }
        span.amount{
            display: none;
        }
    }
    
    h3{
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        font-size: 20px;
        margin: 0;
    }
}

table.my_account_orders, p.myaccount_user{
    margin-bottom: 45px;
}

.wc-tabs{
    clear: both;
    padding: 0;
    padding-top: 30px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    height: 70px;
    li{
        margin: 0 5px;
        height: 40px;
        list-style: none;
        float: left;
        padding: 6px 9px;
        border: 1px solid #ccc;
    }
}