.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2{
    float: none;
    width: 100%;
}

/*
.woocommerce-checkout{
    padding: 0 15px 15px;
    background-color: white;
}
*/

.woocommerce-shipping-fields{
    margin-top: 45px;
}

.col2-set{
    margin-bottom: 45px;
}

input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="select"],textarea{
    padding: 10px;
    border: 1px solid #ccc;
    @include border-radius(3px);
}

.head-menu{
    text-align: right;
    padding-top: 30px;
    span.label{
        float: right;
        font-size: 0.8em;
        font-weight: normal;
        padding: 7px 9px;
    }
}

.menu-header-menu-container{
    float: right;
}

.menu{
    padding: 0;
    li{
        list-style: none;
        float: left;
        padding-right: 20px;
        a{
            border-bottom: none;
        }
    }
}

ul.products{
    overflow: hidden;
    padding: 0;
    li{
        list-style: none;
        width: 100%;
        margin-bottom: 15px;
        float: left;
        padding: 15px;
        border: 1px solid #ccc;
        @include border-radius(5px);
        img{
            max-width: 100%;
            height: auto;
        }
        h3{
            font-size: 16px;
        }
        span.amount{
            color: $maincolor;
            display: block;
            margin-bottom: 15px;
        }
        a.button{
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
    li.last-item{
        margin-right: 0;
    }
}

.pp_woocommerce a{
    border-bottom: none;
}

nav.woocommerce-breadcrumb{
    margin-bottom: 45px;
}

.main .images, .main .entry-summary{
    margin-bottom: 45px;
}

a.zoom{
    border:none;
}

.main .entry-summary{
    
    span.amount{
        font-size: 18px;
        color: $maincolor;
        padding: 6px 9px;
        border: 1px solid $maincolor;
        @include border-radius(3px);
    }
    p.price{    
        margin-bottom: 20px;
    }
    
    form.cart{
        margin-top: 20px;
        overflow: hidden;
    }
    
    input.qty{
        float: left;
        width: 30%;
        padding: 5px 10px;
    }
    
    button{
        float: left;
        margin-left: 10px;
        border-radius: 3px;
        border: 1px solid $maincolor;
        color: white;
        padding: 5px 10px;
        background: $maincolor;
    }
    
    button:hover{
        background: $mainhover;
    }
    
    .product_meta{
        clear: both;
        margin-top: 20px;
        span.sku_wrapper{
            display: none;
        }
        span.posted_in, span.tagged_as{
            display: inherit;
        }
    }
}

h1.product_title{
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.main .images img{
    max-width: 100% !important;
    height: auto !important;
}

.main .images .thumbnails{
    margin-top: 5px;
    a img.attachment-shop_thumbnail{
        max-width: 23% !important;
        margin-right: 2.66%;
    }
    a.last img.attachment-shop_thumbnail{
        margin-right: 0;
    }
}

.main #sidebar{
    margin-top: 65px;
    // border: 5px solid #eee;
    background-color: $mainbg;
    @include border-radius(10px);
    
    ul{
        padding: 20px;
    }
    
    ul.product-categories{
        margin-bottom: 15px;
    }
    
    ul.product_list_widget{
        padding: 20px 0 0;
        li{
            list-style: none;
            margin-bottom: 15px;
            overflow: hidden;
        }
        img{
            width: 60px;
            height: 60px;
            float: left;
            margin-right: 10px;
        }
        a{
            border-bottom: none;
        }
        span.amount{
            display: none;
        }
    }
    
    h3{
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        font-size: 20px;
        margin: 0;
    }
}

.woocommerce table.my_account_orders, p.myaccount_user{
    margin-bottom: 45px;
}

.wc-tabs{
    display: none;
    clear: both;
    padding: 0;
    border-bottom: 1px solid #ccc;
    height: 40px;
    margin-bottom: 15px;
    li{
        height: 40px;
        list-style: none;
        float: left;
        position: relative;
        display: block;
        margin-bottom: -1px;
        padding-top: 8px;
        a{
            height: 40px;
            padding: 8px 12px;
            border: 1px solid transparent;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-right: 2px;
            &:hover{
                background: #eee;
                border-color: #eee;
                border-bottom-color: #ccc;                
            }
        }
        &.active a{
            border: 1px solid #ccc;
            background: white;
            border-bottom-color: white;
        }
    }
}

.wc-tab{
    clear: both;
    padding: 20px 20px 10px;
    background-color: $mainbg;
    @include border-radius(10px);
    color: #666;
    font-size: 14px;
    h2{
        font-size: 18px;
        margin: 0 0 10px;
    }
}

table.shop_attributes{
    td, th {
        text-align: left;
        padding: 3px 9px;
    }
}

.related{
    margin-top: 45px;
    clear: both;
    overflow: hidden;
    h2{
        margin-bottom: 15px;
    }
}

.woocommerce a.button, a.add_to_cart_button{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: $maincolor;
    color: white;
    padding: 6px 0;
    @include border-radius(5px);
    font-size: 16px;
    font-weight: normal;
}
.woocommerce a.button, a.add_to_cart_button:hover{
    background-color: $mainhover;
}

.woocommerce-message{
    margin-bottom: 30px;
    padding: 8px 8px 8px 12px;
    background: #eee;
    font-size: 14px;
    height: 40px;
    a{
        float: right;
        border-radius: 3px;
        color: white;
        padding: 2px 6px;
        background-color: $maincolor;
        margin-top: -2px;
    }
    a:hover{
        background-color: $mainhover;
    }
}

.woocommerce-ordering{
    margin-bottom: 15px;
    select.orderby{
        width: 100%;
        padding: 6px 10px;
    }
}

.woocommerce .addresses .address header{
    height: auto;
    background: transparent;
    border: none;
    h3{
        font-size: 18px;
        font-family: $opensans;
    }
}