.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2{
    float: none;
    width: 100%;
}

input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="select"],textarea{
    padding: 6px;
    border: 1px solid #ccc;
    @include border-radius(3px);
}